@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Montserrat";
}

body {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.heading{
    display: flex;
    justify-content: center;
    margin: 100px 0 20px 0;
}

.container{
    display: flex;
    justify-content: center;
    height: 70vh;
}

/* call */
.call{
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(165, 204, 238);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}


.call-number,.location,.services{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call h2{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Form */
.form{
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    color: white;
    height: 80%;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    justify-content: space-evenly;

}

.form .input-box,.message{
    display: flex;
    flex-direction: column;
}

.form .input-box input{
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
}

.form .message textarea{
    width: 100%;
    height: 100px;
    padding: 5px;
    border-radius: 3px;
    margin:5px 0 20px 0;
    border: none;
}

.form .btn{
    display: flex;
    justify-content: center;
}

.form .btn button{
    width: 50%;
    padding: 5px;
    border-radius: 5px;
}

.form .btn button:hover{
    background-color: rgb(165, 204, 238);
    transition: 0.2s;
}

/* map */
.map{
    display: flex;
    justify-content: flex-start;
    
}

.map iframe{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    margin: 10px;
    border: none;
}